* {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.container {
    width: 30%;
    height: 50vh;
    background-color: goldenrod;
    box-shadow: 2px 2px #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

h2 {
    margin-top: 10%;
}

textarea {
    width: 50%;
    height: 15vh;
    padding: 5px;
    margin-top: 5%;
}

button {
    margin-top: 5%;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: blue;
}

p {
    margin-top: 5%;
    font-size: 16px;
}